<!doctype html>
<html lang="{{ app.request.attributes.get('_locale') }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tomas Pecserke">
    <title>{% block title %}Dashboard{% endblock %} - SubMerge</title>

    <!-- Favicons -->
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <!-- Theme -->
    <meta name="theme-color" content="#7952b3">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet"/>
      <style>
          .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
          }

          @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                  font-size: 3.5rem;
              }
          }
      </style>
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block top_bar %}
        {{ include('layout/top_bar.html.twig') }}
      {% endblock top_bar %}

      {% block container %}
        <div class="container-fluid">
          <div class="row justify-content-center">
            {% block side_menu %}
              {{ include('layout/side_menu.html.twig') }}
            {% endblock side_menu %}

            {% block main_content %}
              <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block alerts %}
                  {% for type in app.session.flashbag.keys %}
                    {% for message in app.session.flashbag.get(type) %}
                      <div class="alert alert-{{ type }} my-3" role="alert">
                        {% if type == 'info' %}
                          <span data-feather="info"></span>
                        {% elseif type == 'success' %}
                          <span data-feather="check-circle"></span>
                        {% elseif type == 'warning' %}
                          <span data-feather="alert-triangle"></span>
                        {% elseif type == 'danger' %}
                          <span data-feather="alert-circle"></span>
                        {% endif %}
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                {% endblock alerts %}
                {% block page_bar %}
                  <div
                      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% block page_title %}{{ block('title') }}{% endblock %}</h1>
                    {% block page_menu %}{% endblock %}
                  </div>
                {% endblock page_bar %}
                {% block page_content %}{% endblock %}
              </main>
            {% endblock main_content %}
          </div>
        </div>
      {% endblock container %}
    {% endblock body %}

    {% block javascript %}
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
    <script>
        feather.replace()
    </script>
    {% endblock %}
    {% block page_javascript %}{% endblock %}
  </body>
</html>
